.body_container{
  margin-left:auto;
  margin-right:auto;
  margin-top: 20px;
}

.code{
  margin: 2em;
}
.header_container{
  margin-bottom: 5rem;
}

.add_cart{
  background-color:rgb(46, 46, 46);
  color: white;
  padding:10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
.add_cart:hover {
  background-color: #8E793E;
}
.product_description{
  width:40%;
  float:right;
}

/* edits from johnny on oct 22 */
.body_container h2{
  text-align: center;
  padding-bottom: 1em;
  max-width: 1080px;
  margin: 0 auto;
  margin-bottom: 1em;
  width: 100%;
  border-bottom: 1px solid #FBFCD4;
}

.product_box{
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 5em;
  justify-content: space-around;
}
.product_block{
  font-size: 16px;
  letter-spacing: 1px;
}
