
.intro_container{
    max-width: 1480px;
    width: 100%;
    max-height: 720px;
    margin-bottom: 20px;
    height: 100%;
    position: relative;
    margin: auto;
    align-items: center;
}
.background_photo{
    filter: brightness(50%);
}
.text{
color: #f2f2f2;
font-size: 20px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
font-family: 'Raleway', sans-serif;

}
/* adjusting entire post area */
.main_area{
    padding-top:4em;
    margin-left:3em;
    margin-right:3em;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-around;

}




/* this is for adjusting single post */

.event_photo{
    max-width:100%;
    width:540px;
    height:auto;
}
.event_posts{
    width: 100%;
    max-width:400px;
    flex: 0 0 200px;
    margin: 1em;
    /* border: 1px solid #ccc; */
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);


}

.heading_2{
    font-size:35px;
}

.post_date{
    font-size:13px;
}
.post_information{
    padding-top:1em;
    font-size:18px;
    letter-spacing: 1.5px;
    line-height: 1.25;
}

@media (max-width:509px) {
    .main_area{
        padding:1px;

    }

    .heading_2{
        font-size:20px;
        }

    .post_information{
        font-size:13px;

    }

}

@media screen and (max-width:375px) {
    .main_area{
        padding:1px;
        margin-left:3em;
        margin-right:5em;

    }

    .heading_2{
        font-size:18px;
    }
    .post_information{
        font-size:14px;
    }
}
